<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Bolu</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <link rel="stylesheet" href="~/css/stylee.css" media="screen">
    <link rel="stylesheet" href="~/css/style.responsive.css" media="all">


    <script src="~/js/jquery.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/scriptresponsive.js"></script>


    <style>
        .omer-content .omer-postcontent-0 .layout-item-0 {
            padding-right: 10px;
            padding-left: 10px;
        }

        .ie7 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }

        .ie6 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }
    </style>
</head>
<body>
    <div id="omer-main">
        <div class="omer-sheet clearfix">
            <div class="omer-layout-wrapper clearfix">
                <div class="omer-content-layout">
                    <div class="omer-content-layout-row">
                        <div class="omer-layout-cell omer-content clearfix">
                            <article class="omer-post omer-article">
                                <h2 class="omer-postheader">BOLU</h2>
                                <div class="omer-postcontent omer-postcontent-0 clearfix">
                                    <div class="omer-content-layout">
                                        <div class="omer-content-layout-row">
                                            <div class="omer-layout-cell layout-item-0" style="width: 100%">
                                                <p><img width="340" height="227" alt="" src="~/images/bolu.png" style="float: left; margin-right: 10px" /></p>
                                                <p>
                                                    Yedigöller Milli Parkı içerisinde bulunan Büyük Göl, Küçük Göl, Serin Göl, Derin Göl, Nazlı Göl, İnce Göl ve Sazlı Göl kenarında izin verilen belli kamp alanlarında çadırınızı kurabilirsiniz. Böylece rezervasyon derdi olmadan doğa içerisinde huzur bulabilirsiniz.

                                                    Kayın ağacının yanı sıra meşe, gürgen, kızılağaç ve karaçam gibi değişik türde ağaçların görülebildiği milli parkta kamp yaparken işaretlenmiş alanlar içerisinde doğa yürüyüşleri ve fotağraf turları da gerçekleştirebilirsiniz. Milli Park içerisinde ayrıca bir kır kahvesi de bulunuyor. Yürüyüşünüz sırasında burada dinlenmeyi tercih edebilirsiniz.<br />
                                                </p>
                                                <p>
                                                    &nbsp;<a href="https://habitat-mesire-yerleri.hotelrunner.com/bv3/search">Habitat Mesire Evleri Rezervasyon ve Fiyatlar İçin Tıklayınız</a>
                                                </p>
                                                <p>Eğer yine Yedigöller Milli Parkı içerisindeki bir bungalov evde konaklamayı tercih ederseniz, Habitat Mesire Evleri ideal bir seçenek olacaktır.Yedigöller Milli Parkı’na giriş kişi ve araç başına ücretli fakat kamp yapmak için ek bir fiyat ödemenize gerek yok. 2019 yılında giriş ücretleri ise şu şekilde:<br /></p>
                                                <p>

                                                    <br />
                                                </p>
                                                <p>
                                                    Şahıs Normal 7 TL<br />
                                                </p>
                                                <p>
                                                    Şahıs İndirimli 3,5 TL<br />
                                                </p>
                                                <p>
                                                    Bisiklet 7 TL<br />
                                                </p>

                                                <p>
                                                    Motorsiklet ve ATV 14 TL<br />
                                                </p>
                                                <p>
                                                    Otomobil Kamyonet ve Pickup 21 TL<br />
                                                </p>
                                                <p>
                                                    Minibüs 63 TL<br />
                                                </p>
                                                <p>
                                                    Midibüs 112 TL<br />
                                                </p>
                                                <p>
                                                    Otobüs 189 TL<br />
                                                </p>
                                                <p>
                                                    Midibüs 112 TL<br />
                                                </p>                                              
                                                <p>
                                                    Adres: Yedigöller Milli Parkı Mengen, Bolu Türkiye
                                                </p>
                                                <p>Ulaşım: Bolu ilinin Mengen ilçesine bağlı olan Yedigöller Milli Parkı’na, Bolu, Zonguldak ve Düzce illerinden rahatlıkla ulaşabilirsiniz. Büyük şehirlerin hepsinden bu şehirlere otobüs seferleri düzenlenmektedir. İlçeye ulaştıktan sonra taksiyle Milli Park’a ulaşabileceğiniz gibi özel araçla da giriş yapmanız mümkündür. Kış mevsiminde, bu güzergah kardan dolayı kapalı olduğundan alternatif Yeniçağa-Mengen-Yazıcık rotasının izlenmesi ve sürücülerin dikkatli olması.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Shared/_Footer.cshtml" />
    </div>
</body>
</html>