<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Mugla</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <link rel="stylesheet" href="~/css/stylee.css" media="screen">
    <link rel="stylesheet" href="~/css/style.responsive.css" media="all">


    <script src="~/js/jquery.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/scriptresponsive.js"></script>


    <style>
        .omer-content .omer-postcontent-0 .layout-item-0 {
            padding-right: 10px;
            padding-left: 10px;
        }

        .ie7 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }

        .ie6 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }
    </style>
</head>
<body>
    <div id="omer-main">
        <div class="omer-sheet clearfix">
            <div class="omer-layout-wrapper clearfix">
                <div class="omer-content-layout">
                    <div class="omer-content-layout-row">
                        <div class="omer-layout-cell omer-content clearfix">
                            <article class="omer-post omer-article">
                                <h2 class="omer-postheader">MUĞLA</h2>
                                <h4 class="omer-postheader">Akyaka Orman Kampı</h4>
                                <div class="omer-postcontent omer-postcontent-0 clearfix">
                                    <div class="omer-content-layout">
                                        <div class="omer-content-layout-row">
                                            <div class="omer-layout-cell layout-item-0" style="width: 100%">
                                                <p><img width="340" height="227" alt="" src="~/images/bolu.png" style="float: left; margin-right: 10px" /></p>
                                                <p>
                                                    Kasaba merkezinin hemen dışında bulunan Akyaka Orman Kampı’nda çadırlarda kalabileceğiniz gibi taş evlerde veya kagir evlerde de uygun fiyatlarla konaklayabilirsiniz.

                                                    Akyaka’da yapılacak aktivitelerin ise sınırı yok. İster kampa yürüme mesafesinde olan Azmak kıyısında akşam yemeği keyfi yaşayın, ister körfezin soğuk suyunda ferahlayın; Akyaka huzuru bulmak için Türkiye’nin en güzel yerlerinden biri.
                                                </p>
                                                <p>
                                                    &nbsp;<a href="http://www.akyakakamp.com/?rooms=orman-kampi">Akyaka Orman Kampı Rezervasyon ve Fiyatlar İçin Tıklayınız.</a>
                                                </p>
                                                <p>
                                                    Havayolu ile Akyaka’ya gelmek için Dalaman Havalimanı‘nı veya Milas-Bodrum Havalimanı‘nı tercih edebilirsiniz.

                                                    Kamp alanı, Akyaka merkezine yürüyerek 15 dakika kadar uzaklıktadır.<br />
                                                </p>

                                                <p>
                                                    Adres: Gökova A Tipi Mesire Yeri Akyaka Beldesi Ula/Muğla
                                                </p>

                                                <p>Ulaşım: Akyaka, Muğla’nın Ula ilçesine bağlı bir tatil beldesi. Gökova Körfezi’nin ucunda bulunan Akyaka’ya Marmisten ve Muğla’dan kalkan minibüslerle ulaşabilirsiniz. Yolcu otobüsleri de Akyaka yolcularını Akyaka girişinde bırakmaktadır. Buradan yine minibüslerle veya yürüyerek kamp merkezine ulaşabilirsiniz.</p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <h4 class="omer-postheader">Çubucak ve İnbükü Orman Kampı</h4>
                                <div class="omer-postcontent omer-postcontent-0 clearfix">
                                    <div class="omer-content-layout">
                                        <div class="omer-content-layout-row">
                                            <div class="omer-layout-cell layout-item-0" style="width: 100%">
                                                <p><img width="340" height="227" alt="" src="~/images/bolu.png" style="float: left; margin-right: 10px" /></p>
                                                <p>
                                                    Kasaba merkezinin hemen dışında bulunan Akyaka Orman Kampı’nda çadırlarda kalabileceğiniz gibi taş evlerde veya kagir evlerde de uygun fiyatlarla konaklayabilirsiniz.

                                                    Akyaka’da yapılacak aktivitelerin ise sınırı yok. İster kampa yürüme mesafesinde olan Azmak kıyısında akşam yemeği keyfi yaşayın, ister körfezin soğuk suyunda ferahlayın; Akyaka huzuru bulmak için Türkiye’nin en güzel yerlerinden biri.
                                                </p>
                                                <p>
                                                    &nbsp;<a href="http://www.akyakakamp.com/?rooms=orman-kampi">Akyaka Orman Kampı Rezervasyon ve Fiyatlar İçin Tıklayınız.</a>
                                                </p>
                                                <p>
                                                    Havayolu ile Akyaka’ya gelmek için Dalaman Havalimanı‘nı veya Milas-Bodrum Havalimanı‘nı tercih edebilirsiniz.

                                                    Kamp alanı, Akyaka merkezine yürüyerek 15 dakika kadar uzaklıktadır.<br />
                                                </p>

                                                <p>
                                                    Adres: Gökova A Tipi Mesire Yeri Akyaka Beldesi Ula/Muğla
                                                </p>

                                                <p>Ulaşım: Akyaka, Muğla’nın Ula ilçesine bağlı bir tatil beldesi. Gökova Körfezi’nin ucunda bulunan Akyaka’ya Marmisten ve Muğla’dan kalkan minibüslerle ulaşabilirsiniz. Yolcu otobüsleri de Akyaka yolcularını Akyaka girişinde bırakmaktadır. Buradan yine minibüslerle veya yürüyerek kamp merkezine ulaşabilirsiniz.</p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Shared/_Footer.cshtml" />
    </div>
</body>
</html>