<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Hakkımda</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <link rel="stylesheet" href="~/css/stylee.css" media="screen">
    <link rel="stylesheet" href="~/css/style.responsive.css" media="all">


    <script src="~/js/jquery.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/scriptresponsive.js"></script>


    <style>
        .omer-content .omer-postcontent-0 .layout-item-0 {
            padding-right: 10px;
            padding-left: 10px;
        }

        .ie7 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }

        .ie6 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }
    </style>
</head>
<body>
    <div id="omer-main">

      <partial name="~/Views/Shared/_Slide.cshtml"/>
        <div class="omer-sheet clearfix">
            <div class="omer-layout-wrapper clearfix">
                <div class="omer-content-layout">
                    <div class="omer-content-layout-row">
                        <div class="omer-layout-cell omer-content clearfix">
                            <article class="omer-post omer-article">
                                <h2 class="omer-postheader">Hakkımda</h2>

                                <div class="omer-postcontent omer-postcontent-0 clearfix">
                                    <div class="omer-content-layout">
                                        <div class="omer-content-layout-row">
                                            <div class="omer-layout-cell layout-item-0" style="width: 100%">
                                                <p><img width="340" height="227" alt="" src="images/shutterstock_40367920.jpg" style="float: left; margin-right: 10px" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. Cras elit nisl, rhoncus nec iaculis ultricies, feugiat eget sapien. Pellentesque ac felis tellus. Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id. Duis placerat justo eu nunc interdum ultrices. Phasellus elit dolor, porttitor id consectetur sit amet, posuere id magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed. Donec vel neque in neque porta venenatis sed sit amet lectus. Morbi tristique posuere consequat. Sed bibendum tincidunt porttitor. Maecenas ut lorem lacus. Suspendisse et sem odio, at eleifend massa. Donec ut hendrerit enim.</p>
                                                <p></p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Shared/_Footer.cshtml" />
    </div>
</body>
</html>