<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<partial name="~/Views/Shared/_Header.cshtml" />
<body>
    <div id="omer-main">

        <partial name="~/Views/Shared/_Slide.cshtml" />
        <div class="omer-sheet clearfix">
            <div class="omer-layout-wrapper clearfix">
                <div class="omer-content-layout">
                    <div class="omer-content-layout-row">
                        <div class="omer-layout-cell omer-content clearfix">
                            <article class="omer-post omer-article">


                                <div class="omer-postcontent omer-postcontent-0 clearfix">
                                    <div class="omer-content-layout-wrapper layout-item-0">
                                        <div class="omer-content-layout layout-item-1">
                                            <div class="omer-content-layout-row">
                                                <div class="omer-layout-cell layout-item-2" style="width: 100%">
                                                    <p style="text-align: center;"><br></p>
                                                    <div style="background: #a1a1a3; line-height: 40px"><h4>En Çok Tercih Edilen 10 Kamp Şehri</h4></div>
                                                    <p style="text-align: justify;margin:10px">Yazımda genel olarak kamp yerleri hakkında bilgiler, ücretlendirmeler ve hava durumlarından bahsettim. Umarım aradığınızı bulabilirsiniz :)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="omer-content-layout-wrapper layout-item-0">
                                        <div class="omer-content-layout">
                                            <div class="omer-content-layout-row">
                                                <div class="omer-layout-cell layout-item-3" style="width: 33%">
                                                    <p style="text-align: center;"><img width="208" height="208" alt="" src="images/food04-3.jpg" class=""></p>
                                                    <div style="background: #a1a1a3; line-height: 40px"><h4>İSTANBUL</h4></div>
                                                    <p style="text-align: justify;margin:10px">Cras elit nisl, rhoncus nec iaculis ultricies, feugiat eget sapien. Pellentesque ac felis tellus. Aenean sollicitudin imperdiet arcu, vitae dignissim.</p>

                                                    <p style="margin:10px"><a href="#" class="omer-button">Devamı</a></p>
                                                </div><div class="omer-layout-cell layout-item-3" style="width: 34%">
                                                    <p style="text-align: center;"><img width="208" height="208" alt="" src="images/food08-3.jpg" class=""></p>
                                                    <div style="background: #a1a1a3; line-height: 40px"><h4>ANKARA</h4></div>
                                                    <p style="text-align: justify;margin:10px">Phasellus elit dolor, porttitor id consectetur sit amet, posuere id magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra auctor.</p>

                                                    <p style="margin:10px"><a href="#" class="omer-button">Devamı</a></p>
                                                </div><div class="omer-layout-cell layout-item-3" style="width: 33%">
                                                    <p style="text-align: center;">
                                                        <img width="208" height="208" alt="" src="images/food07-3.jpg" class="">
                                                    </p><div style="background: #a1a1a3; line-height: 40px"><h4>TRABZON</h4></div>
                                                    <p style="text-align: justify;margin:10px">Phasellus elit dolor, porttitor id consectetur sit amet, posuere id magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra auctor.</p>

                                                    <p style="margin:10px"><a href="#" class="omer-button">Devamı</a></p>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                            <div class="omer-content-layout-row">
                                                <div class="omer-layout-cell layout-item-3" style="width: 33%">
                                                    <p style="text-align: center;"><img width="208" height="208" alt="" src="images/food04-3.jpg" class=""></p>
                                                    <div style="background: #a1a1a3; line-height: 40px"><h4>RİZE</h4></div>
                                                    <p style="text-align: justify;margin:10px">Cras elit nisl, rhoncus nec iaculis ultricies, feugiat eget sapien. Pellentesque ac felis tellus. Aenean sollicitudin imperdiet arcu, vitae dignissim.</p>

                                                    <p style="margin:10px"><a href="#" class="omer-button">Devamı</a></p>
                                                </div><div class="omer-layout-cell layout-item-3" style="width: 34%">
                                                    <p style="text-align: center;"><img width="208" height="208" alt="" src="images/food08-3.jpg" class=""></p>
                                                    <div style="background: #a1a1a3; line-height: 40px"><h4>MUĞLA</h4></div>
                                                    <p style="text-align: justify;margin:10px">Muğla’nın Gökova Körfezi’nde bulunan Akyaka, Türkiye’nin “sakin şehir” seçilen yerlerinden biri. Her daim sakin ve serin olan Akyaka, Azmak Nehri, Akyaka Plajı ve bölgeye özgü mimarisiyle fark yaratıyor.</p>

                                                    <p style="margin:10px"><a href="#" class="omer-button">Devamı</a></p>
                                                </div><div class="omer-layout-cell layout-item-3" style="width: 33%">
                                                    <p style="text-align: center;">
                                                        <img width="208" height="208" alt="" src="~/images/bolu.png" class="">
                                                    </p><div style="background: #a1a1a3; line-height: 40px"><h4>BOLU</h4></div>
                                                        <p style="text-align: justify;margin:10px">Kamp alanı denince aklına Yedigöller Milli Parkı gelmeyen var mı? Sadece yaz sezonunda da değil, yılın dört mevsiminde kamp için ideal olan Yedigöller’de belirli kamp alanlarında çadırla konaklayabilirsiniz.</p>

                                                    <p style="margin:10px"><a href="https://localhost:44382/Home/Bolu" class="omer-button">Devamı</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Shared/_Footer.cshtml" />
    </div>
</body>
</html>