@model LoginData.Models.Registration

@{
    ViewData["Title"] = "Kayit";
}
<link rel="stylesheet" href="~/css/Login.css" media="all">
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">KAYDOL</label>
        <div class="login-form">
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <form asp-action="Kayit">
                            <div class="form-group">
                                <label asp-for="UserName" class="label">KULLANICI ADI</label>
                                <input asp-for="UserName" class="input" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="label">E-MAİL</label>
                                <input asp-for="Email" class="input" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="label">ŞİFRE</label>
                                <input asp-for="Password" class="input" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="KAYDOL">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<link rel="stylesheet" href="~/css/Login.css" media="all">
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">KAYDOL</label>
        <div class="login-form">
            <div class="login-form">
                <div class="sign-up-htm">
                    <div class="group">
                        <form asp-action="Kayit">
                            <div class="form-group">
                                <label asp-for="UserName" class="label">KULLANICI ADI</label>
                                <input asp-for="UserName" class="input" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="label">E-MAİL</label>
                                <input asp-for="Email" class="input" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="label">ŞİFRE</label>
                                <input asp-for="Password" class="input" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="KAYDOL">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
