<head>
    <meta charset="utf-8">
    <title>kampsever.com</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <link rel="stylesheet" href="~/css/stylee.css" media="screen">
    <link rel="stylesheet" href="~/css/style.responsive.css" media="all">


    <script src="~/js/jquery.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/scriptresponsive.js"></script>


    <style>
        .omer-content .omer-postcontent-0 .layout-item-0 {
            margin-bottom: 10px;
        }

        .omer-content .omer-postcontent-0 .layout-item-1 {
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-color: #87D237;
            border-right-color: #87D237;
            border-bottom-color: #87D237;
            border-left-color: #87D237;
            color: #737373;
            background: #E6F6D5;
        }

        .omer-content .omer-postcontent-0 .layout-item-2 {
            color: #737373;
            padding-right: 10px;
            padding-left: 10px;
        }

        .omer-content .omer-postcontent-0 .layout-item-3 {
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: #87D237;
            color: #737373;
            padding-right: 10px;
            padding-left: 10px;
        }

        .ie7 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }

        .ie6 .omer-post .omer-layout-cell {
            border: none !important;
            padding: 0 !important;
        }
    </style>
</head>