<header class="omer-header clearfix">
    <div class="omer-slider omer-slidecontainerheader" data-width="900" data-height="280">
        <div class="omer-slider-inner">
            <div class="omer-slide-item omer-slideheader0">
                <div class="omer-textblock omer-slideheader0-object512512892" data-left="0%">
                    <div class="omer-slideheader0-object512512892-text"><p style="color: #242E25; 
font-size:19px;font-family:'Trebuchet MS', Arial, Helvetica, Sans-Serif;font-weight:bold;
font-style:italic;text-decoration:none">En Çok Tercih Edilen 10 Kamp Şehri İçin</p><p style="color: #191F19; 
font-size:15px;font-family:Verdana, Geneva, Arial, Helvetica, Sans-Serif;font-weight:normal;
font-style:normal">Hava Durumları İçin</p><p style="font-size:11px;font-family:Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-weight:normal;font-style:normal"><a style="color: #242E25" href="#">Tıklayınız→</a></p>
                    </div>
                </div>
            </div>
            <div class="omer-slide-item omer-slideheader1">
            </div>
            <div class="omer-slide-item omer-slideheader2">
            </div>
        </div>
    </div>
    <div class="omer-slidenavigator omer-slidenavigatorheader" data-left="0">
        <a href="#" class="omer-slidenavigatoritem"></a><a href="#" class="omer-slidenavigatoritem"></a><a href="#" class="omer-slidenavigatoritem"></a>
    </div>
    <div class="omer-shapes">
    </div>
</header>